@model IEnumerable<MvcApplication.Models.Shared.Person>
<ul class="list-group">
    @foreach (var person in Model)
    {
        <li class="list-group-item">@Html.DisplayFor(x => person.Name)</li>
    }
</ul>